*, *::before, *::after {
box-sizing: border-box;
}

body {
    background-color: #084446;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.piano {
    display: flex;
}

.white {
    background-color: cornsilk;
    height: 500px;
    --width: 90px;
    border: 1px solid #cecece;
}

.white.active {
    background-color: crimson;
    border: solid 1px rgb(185, 10, 63);
}

.black {
    background-color: black;
    --width: 60px;
    height: 250px;
    z-index: 2;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
}

.black.active {
    background-color: pink;
    border: solid 1px #ff80fc;
}



